// showing default values
$accentColor = #010101
$textColor = #010101
$borderColor = hotpink
$codeBgColor = hotpink
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
